<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.andi.mylife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3aaba34a6d28ec86ca5e913afd95a556" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Map.Map"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Map.ShopInfo1"
            android:label="@string/title_activity_shop_info1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".scan" />
        <activity android:name=".zxing.activity.CaptureActivity" />
        <activity
            android:name=".Beacon.CouponList"
            android:label="@string/title_activity_coupon_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".nearby" />
        <activity android:name=".Shop.RestaurantList" />
        <activity android:name=".Shop.Restaurant1" />
        <activity android:name=".Shop.Restaurant2" />
        <activity android:name=".Shop.Restaurant3" />
        <activity android:name=".Shop.Restaurant4" />
        <activity android:name=".Shop.Restaurant5" />
        <activity android:name=".Shop.Restaurant6" />
        <activity android:name=".Shop.Restaurant7" />
        <activity android:name=".Shop.Restaurant8" />
        <activity android:name=".Shop.Restaurant9" />
        <activity android:name=".Shop.Restaurant10" />
        <activity android:name=".Shop.Restaurant11" />
        <activity android:name=".Shop.Restaurant12" />
        <activity android:name=".Shop.Restaurant13" />
        <activity android:name=".Shop.Restaurant14" />
        <activity android:name=".Shop.Restaurant15" />
        <activity android:name=".Shop.gym1" />
        <activity android:name=".Shop.gym2" />
        <activity android:name=".Shop.gym3" />
        <activity android:name=".Shop.theatre1" />
        <activity android:name=".Shop.theatre2" />
        <activity android:name=".Shop.theatre3" />
        <activity android:name=".Shop.ktv1" />
        <activity android:name=".Shop.ktv2" />
        <activity android:name=".Shop.life1" />
        <activity android:name=".Shop.life2" />
        <activity android:name=".Shop.hotel1" />
        <activity android:name=".Shop.hotel2" />
        <activity android:name=".Shop.GymList" />
        <activity android:name=".Shop.TheatreList" />
        <activity android:name=".Shop.KTVList" />
        <activity android:name=".Shop.LifeList" />
        <activity android:name=".Shop.HotelList" />
        <activity android:name="com.android.andi.LogIn" />
        <activity android:name=".SignUp" />
        <activity android:name="com.android.andi.Browse"></activity>
    </application>

</manifest>
